<div class="container-travels">
  <h1> <strong>Mon itinéraire</strong></h1>

  <div class ="carrousel-blue">
  <div class="rectangle-btn1"></div>
  <div class="rectangle-btn2"></div>
  <div class="rectangle-btn3">
    <%= link_to travel_map_path(@travel) do %>
      <img src="https://res.cloudinary.com/dwl5s1v4k/image/upload/v1687877993/Map_icon_rkfrkt.png" alt="map" class ="map-img">
    <% end %>
  </div>
</div>

<%# <div %>
  <%# data-controller="map-route" %>
  <%# data-action="map-route#connectToTravelShow" %>
  <%# data-map-route-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>
<%# > %>
<% previous_step_end_hour = @travel.start_hour %>
<% @travel.steps.each do |step| %>
  <% step_duration = step.place.duration %>
  <% step_start_hour = previous_step_end_hour %>
  <% step_end_hour = step_start_hour + step_duration.minutes %>
  <h3 class="horaires"><%= step_start_hour.strftime("%H:%M") %> - <%= step_end_hour.strftime("%H:%M") %></h3>
  <% previous_step_end_hour = step_end_hour %>

    <%= link_to place_path(step.place), class: "travel-card" do %>
      <div class="rectangle">
        <%= cl_image_tag step.place.photos.first.key, height: 450, width: 450, crop: :fill, class: "img-rec" %>
        <div>
          <h2><%= step.place.name %></h2>
          <p><%= step.place.description.first(60) ... %></p>
        </div>
      </div>
    <% end %>
<% end %>
<%# </div> %>
