<div class="container-travels">
  <h1> <strong>Mon itinéraire</strong></h1>

  <div class ="carrousel-blue">
  <div class="rectangle-btn1"></div>
  <div class="rectangle-btn2"></div>
  <div class="rectangle-btn3">
    <%= link_to travel_map_path(@travel) do %>
      <img src="https://res.cloudinary.com/dwl5s1v4k/image/upload/v1687877993/Map_icon_rkfrkt.png" alt="map" class ="map-img">
    <% end %>
  </div>
</div>

<%# <% @travel.places.each do |place| %>
<% @travel.start_hour.strftime("%H:%M:") %>



<% @travel.steps.each do |step| %>
  Durée : <strong><%= step.duration %></strong>  min
  <%# <% minutes =  step.duration %>
  <%# <% heures = minutes / 60 %>
  <%# <% minutes_rest = minutes % 60 %>
  <%# <% heure_convertie = DateTime.new(0, 1, 1, heures, minutes_rest, 0).strftime("%H:%M") %>
  <%# <% start_time = @travel.start_hour.strftime("%H:%M") %>
  <%# <%= start_time + heure_convertie %>

    <%= link_to place_path(step.place), class: "travel-card" do %>
      <div class="rectangle">
        <%= cl_image_tag step.place.photos.first.key, height: 450, width: 450, crop: :fill, class: "img-rec" %>
        <div>
          <h2><%= step.place.name %></h2>
          <p><%= step.place.description.first(60) ... %></p>
        </div>
      </div>
      <% end %>
<% end %>
