<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
         <i onclick="history.back()" class="fa-solid fa-chevron-left nav-icon"></i>
    <%= link_to dashboards_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dwl5s1v4k/image/upload/v1687711356/Rectangle_11_pbq5cu.png", class: "logo" %>
    <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
           <li class="nav-item">
           <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user %>
            <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu", crop: :fill %>
          <% end %>
          </a>
          </li>
          <li class="nav-item active", id="normal">
          <i class="fa-solid fa-house nav-icon"></i>
            <%= link_to "Accueil", dashboards_path, class: "nav-link" %>
          </li>
          <li class="nav-item", id="normal">
            <i class="fa-solid fa-user-secret nav-icon"></i>
            <%= link_to "Secret Spot", secret_spots_path, class: "nav-link" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item", id="normal">
              <i class="fa-solid fa-user-secret nav-icon"></i>
              <%= link_to "Places en attente de validation", places_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item", id="normal">
            <i class="fa-solid fa-arrow-right-from-bracket nav-icon">
            </i> <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
