<div class="container"></div>
<div class="container_chocolat"></div>
<div class="d-flex">
<%= link_to dashboards_path, class: "btn-histo" do %>
Mes voyages
<% end %>
<%= link_to past_dashboards_path, class: "btn-voyage" do %>
Mon historique
<% end %>
</div>

<% @past_travels.each do |travel| %>
  <%= link_to travel_path(travel), class: "travel-card" do %>
    <div class="rectangle">
        <%= cl_image_tag travel.places.first.photos.first.key, height: 350, width: 450, crop: :fill %>
        <%# <img src="https://images.partir.com/g6_T5RzFIxc2VZcftQeoyIw8sgg=/750x/filters:sharpen(0.3,0.3,true)/incontournables/italie-milan-duomo.jpg" alt="Image 1"> %>
        <%# <%= cl_image_tag travel.place.first.photo.key, height: 350, width: 450, crop: :fill %>
        <div>
          <h2>Paris</h2>
          <%= travel.beginning_date %> - <%= travel.ending_date %>
        </div>
    </div>
  <% end %>
<% end %>
