<%= simple_form_for(@place) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="containersecretspot">
    <div class="titre">
      <h1>Mon Secret Spot 🤭</h1>
    </div>

    <div class="form-inputs">
      <%= f.label :nom %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :prix_par_personne %>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :durée %>
      <p class="d-flex"><%= f.text_field :duration, class: "form-control", placeholder: "ex: 120" %>min</p>
    </div>

    <div class="accessible">
      <div class="accessibleby">
        <div class="form-inputs">
          <%= f.label :accessible_dès, placeholder: "20"%>
          <p class="d-flex w-45"><%= f.text_field :min_temp, class: "form-control", placeholder: "ex: 20" %>°C</p>
        </div>
      </div>

      <div class="accessibleuntil">
        <div class="form-inputs">
          <%= f.label :jusqu_à %>
          <p class="d-flex w-45"><%= f.text_field :max_temp, class: "form-control", placeholder: "ex :35" %>°C</p>
        </div>
      </div>
    </div>

    <div class="form-inputs">
       <%= f.input :photos, as: :file %>
      <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <%# <div class="form-inputs"> %>
      <%# <%= f.label :addresse %>
      <%# <%= f.text_field :address, class: "form-control" %>
    <%# </div> %>

    <div class="form-inputs">
      <%= f.input :address,
      label: "adresse",
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    </div>
    <%# <div id="map" style="width: 100%; height: 400px;"></div> %>

    <% if policy(@place).admin? %>
       <div>
          <%= f.association :place_traveler_type_tags, collection: PlaceTravelerTypeTag.all, label: "Place Tags :", as: :check_boxes, label_method: :tag, value_method: :id, input_html: { class: "trav-selector-tag d-none" }, include_hidden: false, multiple: true, item_wrapper_class: 'tag-item' %>
      </div>
    <% end %>

    <% if policy(@place).admin? %>
      <div>
        <%= f.association :place_tags, collection: PlaceTag.all, label: "Place Tags :", prompt:"salut", as: :check_boxes, input_html: { class: "selector-tag d-none" }, include_hidden: false, multiple: true, item_wrapper_class: 'tag-item' %>
      </div>
    <% end %>

    <% if policy(@place).admin? %>
      <div class="form-inputs">
        <%= f.input :secret_spot, collection: ["true", "false"], class: "form-control d-flex", label: "Secret Spot" %>

      </div>
    <% end %>

    <% if policy(@place).admin? %>
      <div class="form-inputs">
        <%= f.input :touristic, collection: ["true", "false"], class: "form-control d-flex", label: "Touristique" %>
      </div>
    <% end %>
    <% if policy(@place).admin? %>
      <div class="form-inputs">
        <%= f.input :validation, collection: ["true", "false"], class: "form-control d-flex", label: "Validation" %>
      </div>
    <% end %>

    <%# <div>
      <%= f.button :submit, class: "btn-cr form-actions", label: "Créer mon Secret Spot"%>
    <%# </div> %>
    <div>
      <%= submit_tag "Créer mon secret spot", class: "create_btn"%>
    <%# <%# </div> %>
  </div>
<% end %>
