<%= simple_form_for(@place) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="containersecretspot">
    <div class="titre">
      <h1>Mon Secret Spot 🤭</h1>
    </div>

    <div class="form-inputs">
      <%= f.label :nom %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :prix_par_personne %>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :durée %>
      <p class="d-flex"><%= f.text_field :duration, class: "form-control", placeholder: "ex: 120" %>min</p>
    </div>

    <div class="accessible">
      <div class="accessibleby">
        <div class="form-inputs">
          <%= f.label :accessible_dès, placeholder: "20"%>
          <p class="d-flex w-45"><%= f.text_field :min_temp, class: "form-control", placeholder: "ex: 20" %>°C</p>
        </div>
      </div>

      <div class="accessibleuntil">
        <div class="form-inputs">
          <%= f.label :jusqu_à %>
          <p class="d-flex w-45"><%= f.text_field :max_temp, class: "form-control", placeholder: "ex :35" %>°C</p>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <%= f.input :photos, as: :file %>
    </div>

    <div class="form-inputs">
      <%= f.label :addresse %>
      <%= f.text_field :address, class: "form-control" %>
    </div>


     <%# <div>
      <%= f.button :submit, class: "btn-cr form-actions"%>
    <%# </div> %>

  <div>
    <%= submit_tag "Crée ton secret spot", class: "form-actions"%>
  </div>



</div>

<% end %>
