<%= simple_form_for(@place) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="containersecretspot">

    <div class="titre">
      <h1>Modifie ton Secret Spot</h1>
    </div>

    <div class="form-inputs">
      <%= f.label :nom %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <%# <div class="form-inputs"> %>
      <%# <%= f.label :adresse %>
      <%# <%= f.text_field :address, class: "form-control" %>
    <%# </div> %>

    <div class="form-inputs">
      <%= f.input :address,
      label: "adresse",
      input_html: {data: {address_autocomplete_target: "address"}},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, class:"form-control"}%>
    </div>

    <div>
      <p class="label"><%= f.label :Que_voudrais_tu_faire_?%></p>
      <%= f.association :place_tags, collection: PlaceTag.all, prompt: "Choose a Company", as: :check_boxes, input_html: { class: "selector-tag d-none" }, include_hidden: false, multiple: true, item_wrapper_class: 'tag-item' %>
    </div>

    <div class="form-inputs">
      <%= f.label :prix_par_personne %>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-inputs">
      <%= f.label :durée %>
      <p class="d-flex"><%= f.text_field :duration, class: "form-control", placeholder: "ex: 120" %>min</p>
    </div>

    <div class="accessible">
      <div class="accessibleby">
        <div class="form-inputs">
          <%= f.label :accessible_dès, placeholder: "20"%>
          <p class="d-flex w-45"><%= f.text_field :min_temp, class: "form-control", placeholder: "ex: 20" %>°C</p>
        </div>
      </div>

      <div class="accessibleuntil">
        <div class="form-inputs">
          <%= f.label :jusqu_à %>
          <p class="d-flex w-45"><%= f.text_field :max_temp, class: "form-control", placeholder: "ex :35" %>°C</p>
        </div>
      </div>
    </div>
    <% if policy(@place).admin? %>
      <div class="form-inputs">
        <%= f.label :secret_spot %>
        <p class="d-flex"><%= f.text_field :secret_spot, class: "form-control", placeholder: "ex :false" %>°C</p>
      </div>
    <% end %>
    <% if policy(@place).admin? %>
      <div class="form-inputs">
        <%= f.label :touristique %>
        <p class="d-flex"><%= f.text_field :touristic, class: "form-control", placeholder: "ex :false" %>°C</p>
      </div>
    <% end %>
    <% if policy(@place).admin? %>
      <div class="form-inputs">
        <%= f.label :validation %>
        <p class="d-flex"><%= f.text_field :validation, class: "form-control", placeholder: "ex :true" %>°C</p>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.input :photos, as: :file %>
    </div>

    <div class="create_btn">
      <%= f.button :submit %>
    </div>
  </div>

<% end %>
