<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <% @place.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <%= cl_image_tag photo.key, height: 450, width: 450, crop: :fill, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="grey-box">
<h1 class="name"><%= @place.name %></h1>
<div class="d-flex align-content-center icons-box">
  <i class="fa-solid fa-clock place"></i> <%= @place.duration %>min</h3>
  <i class="fa-solid fa-temperature-three-quarters place"></i> <%= @place.min_temp %> to <%= @place.max_temp %> °C</h3>
  <% if @place.price > 0 %>
    <i class="fa-solid fa-money-bill place"></i> <%= @place.price %>€
  <% else %>
    <i class="fa-solid fa-money-bill place"></i> Gratuit
  <% end %>
</div>



<div class="address">
  <h3 class="place-caracteristiques">Address : <%= @place.address %></h3>
</div>
<p class="text-justify"><%= truncate(@place.description, length: 400) %></p>
</div>

<div class="map" style="width: 360px; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div id="buttons">
  <%= link_to "Back to places", dashboards_path, class: "button-back" %>
  <%# <br> %>
  <%= link_to "Edit", edit_place_path(@place), class: "button-back" %>
  <%= link_to "Destroy", @place, method: :delete, class: "button-back" %>
</div>
