<p style="color: green"><%= notice %></p>

<%= cl_image_tag @place.photos.key, height: 00, width: 400, crop: :fill, class: "card-img" %>
<h1><%= @place.name %></h1>
  <div class="d-flex justify-content-around">
    <h3 class="place-caracteristiques">Duration : <%= @place.duration %>min</h3>
    <h3 class="place-caracteristiques">Temperature : <%= @place.min_temp %> to <%= @place.max_temp %> °C</h3>
  </div>

  <div class="d-flex justify-content-around">
    <h3 class="place-caracteristiques">Price : <%= @place.price %>€</h3>
    <h3 class="place-caracteristiques">Address : <%= @place.address %></h3>
  </div>
  <p><%= @place.description %></p>



<div>
  <%= link_to "Edit this place", edit_place_path(@place) %> |
  <%= link_to "Back to places", places_path %>

  <%= button_to "Destroy this place", @place, method: :delete %>
</div>
